{% from "_formhelpers.html" import render_field %}
{% extends "base.html" %}
{% block content %}
<div class="row" style="margin-top: 25%">
  <div class="two columns">&nbsp;</div>
  <div class="eight columns">
    <h1>Pixel Diary</h1>
    <p>Welcome to Pixel Diary, a diary where every day is a pixel!</p>
    <p>After you register an account you can use our API.</p>

    <form method="POST" action="/" style="margin-top: 8em;">
      <h4>Register account</h4>
      {{ form.csrf_token }}
      {{ render_field(form.email, class="u-full-width") }}
      {{ render_field(form.password, class="u-full-width") }}
      <input id="{{ form.submit.id }}" name="{{ form.submit.name }}" type="submit" value="{{ form.submit.name.title() }}" class="button-primary u-pull-right">
      <div class="u-cf"></div>
    </form>

    <h4>Access API</h4>
    <p></p>
    <pre><code>
import requests
r = requests.get(/api/accounts)
    </code></pre>
  </div>
</div>
{% endblock %}
