arrow==0.10.0
click==6.7
flake8==3.3.0
flask==0.12
flask-bootstrap==3.3.7
flask-login==0.4.0
flask-migrate==2.0.3
flask-sqlalchemy==2.2
flask-wtf==0.14.2
psycopg2==2.7.1
pytest==3.0.7
raven[flask]==6.0.0
simplejson==3.10.0
sphinx==1.5.5
sphinxcontrib.httpdomain==1.5.0
sqlalchemy-utils==0.32.14
